python>=$PYTHON_VERSION
pip
pandas
mkl 
mkl-include
scipy
statsmodels
scikit-learn
eli5
spacy
seaborn
plotly
jupyterlab
ipywidgets
widgetsnbextension
black
autopep8
isort
tqdm
h5py
pyarrow
Pillow
click
pytest